.bg-special-1{
    background-color: #c5dcdc;
}

.start-img{
    max-height: 250px;
}

.service-btn{
    /*margin-right: 80px;*/
}


.bg-special-2
{
    background-color: #D2CBC9;
}

.bg-special-3
{
    background-color: #f5ffff;
}